@import "tailwindcss";

/* Classes globais ============================== */
@layer base {

  body{
    @apply
    bg-zinc-900
    text-zinc-200
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-zinc-200 mb-3;
  }

  /* Transicao suave em todos os links do site */
  a,
  button,
  input[type="submit"] {
    @apply transition-all duration-500 cursor-pointer;
  }
}

/* Componentes de UI ============================== */
@layer components {
  .btn{
    @apply 
    text-base md:text-sm
    px-4 
    py-2 
    block 
    rounded-lg 

    text-center 
    hover:scale-105 
    cursor-pointer;
  }

  .coin-responsive-table{
    @apply
    w-full
    border-separate
    border-spacing-0
    md:border-spacing-y-3
  }
  .coin-responsive-table thead{
    @apply
    hidden md:table-header-group
  }
  
  .coin-responsive-table th{
    @apply
    w-1/5
    text-left
    p-2

    md:text-center
  }

  .coin-responsive-table tbody tr{
    @apply
    block
    mb-3
    pb-2

    bg-zinc-800
    rounded-lg

    md:table-row
    md:mb-0
    md:pb-0
  }

  .coin-responsive-table tbody td{
    @apply
    flex 
    justify-between 
    px-2 
    py-2 
    
    before:content-[attr(data-label)] 
    before:font-bold
    
    md:table-cell 
    md:before:content-none 
    md:py-2
    
  }
  .coin-responsive-table tbody td:first-child{
    @apply
    rounded-l-lg
  }
  .coin-responsive-table tbody td:last-child{
    @apply
    rounded-r-lg
  }

  .coin-responsive-table tbody td:not(:first-child){
    @apply
    text-center
  }

}

/* Classes customizados pontuais ================== */
@layer utilities {
  .container { 
    @apply max-w-6xl mx-auto px-4;
  }

  .img-fluid{
    @apply max-w-full h-auto;
  }
}
